<div class="navbar">
    <div><a href="/matches"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1641700665/she-hacks/cube_nilchz.svg" alt="matches"></a></div>
    <h1>sheNetworks</h1>
    <div><a href="/profile"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1641700662/she-hacks/profile_xtnepi.svg" alt="matches"></a></div>
</div>