<% layout('layouts/generalBP')%>

<div>
    <img src="" alt="">
    <h1>sheNetworks</h1>

    <p>Forget about creating content and get mateched with new careerists</p>

    <a href="/login"><button>Join now</button></a>
</div>