<% layout('layouts/generalBP')%>

<h1>{
    text-align: center;
}
Hello Everyone</h1>
<p>I really love cheese</p>

<h2>sheNetworks</h2>
<h2>Hey Jess!</h2>
<p>Complete 3 minute matching survey to find your future mentor!</p>
<button type="button">Let's get started!</button><br>
<button>Skip</button>