<% layout('layouts/generalBP')%>

<div class="margin">
    <img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1641698279/she-hacks/Group_1296_bjdepl.png" alt="logo">
    <h1>sheNetworks</h1>

    <p>Forget about creating content and get mateched with new careerists</p>

    <a href="/register"><button>Join now</button></a>
    <a href="/login">Login</a>
</div>