<% layout('layouts/generalBP')%>
<di class="margin"v>
    <h1>New match!</h1>
    
    <p>You're matched with: <%= match.username%>!</p>
    <p><%= match.title%></p>
    <p><%= match.username%> loves <%= match.interests%>!</p>
</div>