<% layout('layouts/generalBP')%>
<div class="margin">
    <form action="/questionnaire/q" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="free-time">What do you like to do in your free time?</label>
            <select name="free-time" id="free-time" required>
                <option value="Reading">Reading</option>
                <option value="Rraveling">Traveling</option>
                <option value="Sports">Sports</option>
                <option value="Fishing">Fishing</option>
                <option value="Crafting">Crafting</option>
                <option value="Collecting">Collecting</option>
                <option value="Music">Music</option>
                <option value="Gardening">Gardening</option>
                <option value="Art">Art</option>
                <option value="Cooking">Cooking</option>
                <option value="Yoga">Yoga</option>
                <option value="Hiking">Hiking</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="friends">What do you like to do with your friends?</label>
            <select name="friends" id="friends" required>
                <option value="Play games">play games</option>
                <option value="Have dinner">have dinner</option>
                <option value="Go on a walk">go on a walk</option>
                <option value="Do sports together">play a sport</option>
                <option value="Have a chat online">chat online</option>
                <option value="open to suggestions">I'm open to suggestions!</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        
        <div class="mb-3">
            <label class="form-label" for="interests">What is your top interest?</label>
            <select name="interests" id="interests" required>
                <option value="Design">design</option>
                <option value="Front-end Development">front-end development</option>
                <option value="Back-end Development">back-end-development</option>
                <option value="Big data">big data</option>
                <option value="Networking">networking</option>
                <option value="Blockchain">blockchain</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="energy-level">What is your energy level?</label>
            <select name="energy-level" id="energy-level" required>
                <option value="Serious calm">serious-calm</option>            
                <option value="Calm & positive">big data</option>
                <option value="just right">just right</option>
                <option value="Over the top!!">high energy</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="btn-container"><button class="btn" id="button">Save</button></div>
    </form>
</div>