<% layout('layouts/generalBP')%>

<div class="margin">
    <h1>Hey!</h1>
    <p>Complete this 3 minute matching survery to find your future mentor!</p>

    <a href="/questionnaire/q"><button>Let's get started!</button></a>
</div>