<% layout('layouts/generalBP')%>
<div class="margin">
    <h1>Register</h1> 
    <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="lastName">Last Name</label>
            <input class="form-control" type="lastName" id="lastName" name="lastName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="title">Professional Title</label>
            <select name="title" id="title" required>
                <option value="Network architect">Network architect</option>
                <option value="Front-end developer">Front-end developer</option>
                <option value="Back-end developer">Back-end developer</option>
                <option value="UI designer">UI designer</option>
                <option value="Data scientist">Data scientist</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="school">College or University</label>
            <select name="school" id="school" required>
                <option value="Athabasca University">Athabasca University</option>
                <option value="University of British Columbia">University of British Columbia</option>
                <option value="McMaster University">McMaster University</option>
                <option value="Lakehead University">Lakehead University</option>
                <option value="Ontario College of Art">Ontario College of Art</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="btn-container"><button class="btn" id="button">Register</button></div>
    </form>
</div>
